<!DOCTYPE html>
<html>
  <head>
    <title>Edit Video</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="static/stylesheets/edit_page.css"
    />
  </head>
  <body>
    <h1>Edit Video</h1>
    <h2>Uploaded Videos:</h2>
    <br /><br />

    <video id="video" width="70%" height="70%" controls>
      <source
        src="{{ url_for('play_video', filename=video)}}"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <br /><br />

    <main id="app">
      <form method="POST" action="/trim_video">
        <div id="slider"></div>
        <input type="hidden" name="start_time" id="startRangeInput" />
        <input type="hidden" name="end_time" id="endRangeInput" />
        <input type="submit" value="Trim Video" />
      </form>
    </main>

    <a
      class="show-trimmed-button"
      href="{{ url_for('show_trimmed_video', filename=video) }}"
      >Show Trimmed Video</a
    >

    <script type="module" src="static/js/slider.js"></script>
  </body>
</html>
